@import 'vars';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:
        'Montserrat', sans-serif;
    background-color: $background-main;
    color: $color-text;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 735px;
    background-image: url("image/top.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 217px;
    &__description {
        font-size: 16px;
        span {
            font-weight: 700;
        }
    }
}
